@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

$green: #d8db2f;
$background: #e4f4fd;
$white: #fff;
$thinTextColor: #4e6e7e;
$spanBox: #6b94a8;
$lightYellow: #f9fae0;
$darkBlue: #133041;
$resultsBg: #0e2431;
$font: "Plus Jakarta Sans", sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font;
}

@mixin spanBox {
  background-color: $background;
  padding: 11.8px 16px;
  font-size: 18px;
  font-weight: bold;
  color: $thinTextColor;
}

main {
  background-color: $background;
  height: 100vh;

  div.container {
    display: flex;
    flex-direction: column;

    .calculator {
      background-color: $white;
      padding: 32px 24px;

      .heading {
        margin-bottom: 24px;
        @media screen and (min-width: 500px) {
          display: flex;
          justify-content: space-between;
          margin-bottom: 40px;
        }
        h1 {
          font-size: 24px;
          color: $darkBlue;
          margin-bottom: 8px;
        }
        button.clear {
          color: $thinTextColor;
          border: none;
          background-color: $white;
          text-decoration: underline;
          cursor: pointer;

          &:hover {
            color: $darkBlue;
          }
        }
      }

      form {
        display: flex;
        flex-direction: column;
        gap: 24px;

        .wrapper span,
        .currency {
          @include spanBox;
        }

        .input_wrapper {
          border: 1px solid $spanBox;
          border-radius: 2.5px;

          &:hover {
            border: 1px solid $darkBlue;
          }
        }

        .wrapper {
          display: flex;
          flex-direction: column;
          gap: 24px;
        }
        .input_wrapper {
          display: flex;

          input {
            height: 48px;
            border: none;
            width: 100%;
            padding-left: 16px;
            color: $darkBlue;
            font-weight: bold;

            &:focus {
              border: 1px solid $green;
              outline: none;
            }
          }
        }

        .mortgage_container label,
        .wrapper label,
        #morgage_type_text {
          color: $thinTextColor;
          margin-bottom: 12px;
          display: inline-block;
        }
      }
    }
    .output {
      background-color: $darkBlue;
      padding: 32px 24px;
    }
  }
}
